<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register new user</title>
</head>

<body>

<form th:action="@{/register}" th:object="${userDTO}" th:method="post" >
    <table align="center">
        <tr>
            <td>Login:   </td> <td ><input type="text" th:field="*{userName}"/>    </td>
        </tr>
        <tr>
            <td>Password:</td> <td><input type="password" th:field="*{password}"/></td>
        </tr>
        <tr th:if="${passwordIsAcceptable!=null && !passwordIsAcceptable}">
            <td/>
            <td align="center">
                <span style="color:red">Password must be 6-15 characters long, contain at least one uppercase character, one lowercase character and one digit</span>
            </td>
        </tr>
    </table>
    <p align="center"><input type="submit" value="Register"/></p>
</form>

</body>
</html>